body {
    background-image: url("https://futurefood.network/wp-content/uploads/2020/06/Education.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#navbar {
    background-color: white;
    padding: 18px;
    width: 100%;
    margin-left: -10px;
    margin-top: -10px;
}

a {
    text-decoration: none;
    color: blue;
    text-transform: capitalize;
    padding: 10px;
}

a:hover {
    color: white;
    background-color: blue;
    padding: 10px;
}

#CENTER {
    padding: 1%;
    margin-top: -1%;
    text-shadow: black 1px 1px;
    float: right;
}

#active {
    color: white;
    background-color: blue;
    padding: 10px;
}

li {
    text-transform: capitalize;
}

video {
    width: 60%;
    height: 20%
}